
      </main>

    </div>

    <!--
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    -->

    <script src="/vendors/lightgallery/js/lightgallery.min.js"></script> 

	<script type="text/javascript">
	    lightGallery(document.getElementById('lightgallery'), {
	    	loop: false,
	    	download: false
	    }); 
	</script>


    <!-- 
    <script src="/vendors/lightgallery/js/lg-thumbnail.min.js"></script> 
    <script src="/vendors/lightgallery/js/lg-fullscreen.min.js"></script> 
     -->
  </body>
</html>
