
      </main>

      <div class="au-footer">

        <div class="au-contacts">
            <div class="au-contacts--email">
                <span class="au-icon-white"></span>
                strakaliukesdarbai@gmail.com
            </div>
            <div class="au-contacts--tel">
                <span class="au-icon-white"></span>
                8 601 36507
            </div>
        </div>

        <div class="au-fb">
            <div class="fb-page"
                data-href="https://www.facebook.com/strakaliuke/"
                data-small-header="false"
                data-adapt-container-width="true"
                data-hide-cover="false"
                data-show-facepile="true"
                >
                <blockquote cite="https://www.facebook.com/strakaliuke/"
                    class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/strakaliuke/">Strakaliukė</a>
                </blockquote>
            </div>
        </div>

      </div>

    </div>

    <script src="{{ .Site.BaseURL }}/vendors/lightgallery/js/lightgallery.min.js"></script> 

	<script type="text/javascript">
	    lightGallery(document.getElementById('lightgallery'), {
            selector: '.au-items-list--item-link',
                loop: false,
                download: false,
            mode: 'lg-fade'
	    }); 
    </script>

  </body>
</html>
